.view {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 283px;
}

.view .class-12 {
  background-color: #005ea2 !important;
  flex: 0 0 auto !important;
}

.view .class-13 {
  flex: 0 0 auto !important;
}
