.top-banner {
  align-items: center;
  background-color: var(--basebase-lightest);
  display: flex;
  gap: 8px;
  padding: 9px 40px 9px 30px;
  position: relative;
  width: 1920px;
}

.top-banner .banner-content {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-right: -7px;
  position: relative;
}

.top-banner .us-flag-small {
  height: 11px;
  position: relative;
  width: 16px;
}

.top-banner .content-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1833px;
}

.top-banner .an-official-website {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-banner .here-s-how-you-know {
  height: 16px;
  position: relative;
  width: 133px;
}

.top-banner .overlap-group-2 {
  height: 16px;
  position: relative;
  width: 131px;
}

.top-banner .here-s-how-you-know-2 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.top-banner .icon-21 {
  height: 16px !important;
  left: 115px !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}
