.results-filter {
  align-items: flex-start;
  border-radius: 3px;
  display: inline-flex;
  position: relative;
}

.results-filter .check-label {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.results-filter .checkbox-2 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.results-filter .data-set-2 {
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.results-filter .view-all-2 {
  color: #005ea2;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.results-filter .icon-6 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.results-filter.grid-view {
  padding: 5px 18px;
}

.results-filter.list-view {
  padding: 5px 18px;
}

.results-filter.codebook {
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.data-set {
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.brief {
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.data-report {
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.view-all {
  background-color: var(--full-white);
  border: 2px solid;
  border-color: #005ea2;
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.release-notes {
  gap: 10px;
  padding: 5px 20px;
}

.results-filter.off.data-report {
  background-color: var(--basebase-dark);
}

.results-filter.codebook.off {
  background-color: var(--basebase-dark);
}

.results-filter.brief.off {
  background-color: var(--basebase-dark);
}

.results-filter.on.data-report {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.on.release-notes {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.codebook.on {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.brief.on {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.data-set.off {
  background-color: var(--basebase-dark);
}

.results-filter.on.list-view {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.list-view.off {
  background-color: var(--full-white);
  border: 2px solid;
  border-color: var(--basebase);
}

.results-filter.data-set.on {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.grid-view.on {
  background-color: var(--colors-primary-primary-dark);
}

.results-filter.grid-view.off {
  background-color: var(--full-white);
  border: 2px solid;
  border-color: var(--basebase);
}

.results-filter.release-notes.off {
  background-color: var(--basebase-dark);
}

.results-filter.grid-view .data-set-2 {
  margin-top: -0.5px;
}

.results-filter.list-view .data-set-2 {
  margin-top: -0.5px;
}

.results-filter.codebook .data-set-2 {
  color: var(--full-white);
  margin-top: -1px;
}

.results-filter.data-set .data-set-2 {
  color: var(--full-white);
  margin-top: -1px;
}

.results-filter.brief .data-set-2 {
  color: var(--full-white);
  margin-top: -1px;
}

.results-filter.data-report .data-set-2 {
  color: var(--full-white);
  margin-top: -1px;
}

.results-filter.view-all .data-set-2 {
  color: #005ea2;
  margin-top: -1px;
}

.results-filter.release-notes .data-set-2 {
  color: var(--full-white);
  margin-top: -1px;
}

.results-filter.on.list-view .data-set-2 {
  color: var(--full-white);
}

.results-filter.list-view.off .data-set-2 {
  color: var(--basebase);
}

.results-filter.grid-view.on .data-set-2 {
  color: var(--full-white);
}

.results-filter.grid-view.off .data-set-2 {
  color: var(--basebase);
}
