.topic-selected {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 379px;
}

.topic-selected .frame-66 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.topic-selected .frame-67 {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.topic-selected .class-15 {
  left: 0 !important;
  position: absolute !important;
  top: 34px !important;
}

.topic-selected .class-16 {
  left: 147px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-17 {
  left: 222px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-18 {
  left: 175px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-19 {
  left: 0 !important;
  position: absolute !important;
  top: 68px !important;
}

.topic-selected .class-20 {
  left: 104px !important;
  position: absolute !important;
  top: 34px !important;
}

.topic-selected .class-21 {
  left: 187px !important;
  position: absolute !important;
  top: 34px !important;
}

.topic-selected .class-22 {
  left: 157px !important;
  position: absolute !important;
  top: 34px !important;
}

.topic-selected .class-23 {
  left: 201px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-24 {
  left: 73px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-25 {
  left: 108px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-26 {
  left: 87px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-27 {
  left: 235px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .topic-2 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-28 {
  left: 159px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-29 {
  left: 234px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-30 {
  left: 83px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .class-31 {
  left: 124px !important;
  position: absolute !important;
  top: 0 !important;
}

.topic-selected .clear-selections {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--text-link-font-family);
  font-size: var(--text-link-font-size);
  font-style: var(--text-link-font-style);
  font-weight: var(--text-link-font-weight);
  letter-spacing: var(--text-link-letter-spacing);
  line-height: var(--text-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.topic-selected .all-content-types {
  height: 24px;
}

.topic-selected .demographics {
  height: 24px;
}

.topic-selected .content-types {
  height: 92px;
}

.topic-selected .states {
  height: 24px;
}

.topic-selected .programs {
  height: 58px;
}

.topic-selected .geographic-type {
  height: 58px;
}

.topic-selected .services {
  height: 58px;
}

.topic-selected .years {
  height: 24px;
}
