.nav-link {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.nav-link .frame-9 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.nav-link .link {
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.nav-link .icon-4 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.nav-link .rectangle-73 {
  align-self: stretch !important;
  height: 4px !important;
  position: relative !important;
  width: 100% !important;
}

.nav-link .link-2 {
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.nav-link.active {
  background-color: var(--colors-primary-primary-darker);
  border: 3px solid;
  border-color: #2491ff;
  padding: 16px 16px 20px;
}

.nav-link.current-false {
  padding: 16px 16px 20px;
}

.nav-link.hover.current-true {
  padding: 16px 16px 0px;
}

.nav-link.normal.current-true {
  padding: 16px 16px 0px;
}

.nav-link.normal .link {
  color: var(--basebase-dark);
}

.nav-link.active .link {
  color: #005ea2;
}

.nav-link.hover .link {
  color: #005ea2;
}

.nav-link.normal .link-2 {
  color: var(--basebase-dark);
}

.nav-link.active .link-2 {
  color: #ffffff;
}

.nav-link.hover .link-2 {
  color: #005ea2;
}
