.button {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.button .text-wrapper-11 {
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button.outline-inverse {
  border: 2px solid;
}

.button.outline {
  border: 2px solid;
}

.button.disabled {
  background-color: var(--disableddisabled);
}

.button.state-1-active.primary {
  background-color: #162e51;
}

.button.state-1-hover.base {
  background-color: var(--basebase-dark);
}

.button.state-1-active.outline-inverse {
  border-color: #ffffff;
}

.button.state-1-active.secondary {
  background-color: #162e51;
}

.button.state-1-default.primary {
  background-color: #005ea2;
}

.button.state-1-hover.accent-warm {
  background-color: var(--accent-warmaccent-warm-dark);
}

.button.state-1-default.outline-inverse {
  border-color: var(--basebase-light);
}

.button.outline.state-1-hover {
  border-color: #1a4480;
}

.button.inverse.state-1-active {
  background-color: #ffffff;
}

.button.state-1-default.secondary {
  background-color: var(--primaryprimary-vivid);
}

.button.state-1-hover.primary {
  background-color: #1a4480;
}

.button.inverse.state-1-default {
  background-color: #dfe1e2;
}

.button.state-1-hover.secondary {
  background-color: #1a4480;
}

.button.state-1-hover.success {
  background-color: var(--successsuccess-dark);
}

.button.accent-warm.state-1-active {
  background-color: var(--accent-warmaccent-warm-darker);
}

.button.inverse.state-1-disabled {
  background-color: var(--basebase);
}

.button.outline.state-1-active {
  border-color: #162e51;
}

.button.state-1-hover.inverse {
  background-color: var(--basebase-lightest);
}

.button.state-1-default.success {
  background-color: var(--successsuccess);
}

.button.accent-warm.state-1-default {
  background-color: var(--accent-warmaccent-warm);
}

.button.outline.state-1-default {
  border-color: #005ea2;
}

.button.success.state-1-active {
  background-color: var(--successsuccess-darker);
}

.button.accent-cool.state-1-active {
  background-color: var(--accent-coolaccent-cool-darker);
}

.button.outline.state-1-disabled {
  border-color: #c9c9c9;
}

.button.state-1-active.error {
  background-color: var(--errorerror-darker);
}

.button.accent-cool.state-1-default {
  background-color: var(--accent-coolaccent-cool);
}

.button.state-1-default.error {
  background-color: var(--errorerror);
}

.button.state-1-hover.accent-cool {
  background-color: var(--accent-coolaccent-cool-dark);
}

.button.state-1-hover.error {
  background-color: var(--errorerror-dark);
}

.button.base.state-1-active {
  background-color: var(--basebase-darker);
}

.button.state-1-disabled.outline-inverse {
  border-color: var(--basebase);
}

.button.state-1-hover.outline-inverse {
  border-color: var(--basebase-lightest);
}

.button.state-1-default.base {
  background-color: var(--basebase-dark);
}

.button.outline-inverse .text-wrapper-11 {
  margin-top: -2px;
}

.button.secondary .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.outline .text-wrapper-11 {
  margin-top: -2px;
}

.button.disabled .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.inverse .text-wrapper-11 {
  color: var(--baseink);
  margin-top: -1px;
}

.button.primary .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.error .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.base .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.accent-warm .text-wrapper-11 {
  color: #ffffff;
  margin-top: -1px;
}

.button.success .text-wrapper-11 {
  margin-top: -1px;
}

.button.accent-cool .text-wrapper-11 {
  margin-top: -1px;
}

.button.state-1-active.outline-inverse .text-wrapper-11 {
  color: #ffffff;
}

.button.state-1-default.outline-inverse .text-wrapper-11 {
  color: var(--basebase-lighter);
}

.button.outline.state-1-hover .text-wrapper-11 {
  color: #1a4480;
}

.button.state-1-hover.success .text-wrapper-11 {
  color: #ffffff;
}

.button.outline.state-1-active .text-wrapper-11 {
  color: var(--basebase-darker);
}

.button.state-1-default.success .text-wrapper-11 {
  color: var(--baseink);
}

.button.outline.state-1-default .text-wrapper-11 {
  color: #005ea2;
}

.button.success.state-1-active .text-wrapper-11 {
  color: #ffffff;
}

.button.accent-cool.state-1-active .text-wrapper-11 {
  color: #ffffff;
}

.button.outline.state-1-disabled .text-wrapper-11 {
  color: #c9c9c9;
}

.button.accent-cool.state-1-default .text-wrapper-11 {
  color: #1b1b1b;
}

.button.state-1-hover.accent-cool .text-wrapper-11 {
  color: #ffffff;
}

.button.state-1-disabled.outline-inverse .text-wrapper-11 {
  color: var(--basebase);
}

.button.state-1-hover.outline-inverse .text-wrapper-11 {
  color: var(--basebase-lightest);
}
