.topic-filter {
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 389px;
}

.topic-filter .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.topic-filter .list-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.topic-filter .topic-instance {
  flex: 0 0 auto !important;
}

.topic-filter .instance-node-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.topic-filter .data-element-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.topic-filter .vector-35 {
  align-self: stretch !important;
  height: 40px !important;
  position: relative !important;
  width: 100% !important;
}

.topic-filter.subject-release-notes {
  background-color: var(--full-white);
  border: 1px solid;
  border-color: #a9aeb1;
  padding: 20px 10px;
}

.topic-filter.subject-topics {
  gap: 20px;
}
