.quick-search-filter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 369px;
}

.quick-search-filter .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.quick-search-filter .type-to-filter {
  color: var(--basebase-dark);
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  font-style: var(--h6-font-style);
  font-weight: var(--h6-font-weight);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.quick-search-filter .vector-38 {
  align-self: stretch !important;
  height: 40px !important;
  position: relative !important;
  width: 100% !important;
}
