.element-data-set {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-data-set .div-12 {
  border: 1px none;
  height: 7466px;
  position: relative;
  width: 1920px;
}

.element-data-set .about-data-sets {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 297px;
}

.element-data-set .splash {
  align-items: center;
  background-color: var(--colors-primary-primary-darker);
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: center;
  padding: 0px 0px 0px 212px;
  position: relative;
  width: 1920px;
}

.element-data-set .content-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  padding: 50px 0px;
  position: relative;
}

.element-data-set .frame-86 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.element-data-set .h-1 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.element-data-set .text-wrapper-33 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.element-data-set .text-wrapper-34 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.element-data-set .frame-87 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.element-data-set .frame-88 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 50px;
  position: relative;
  width: 404px;
}

.element-data-set .frame-89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 404px;
}

.element-data-set .text-wrapper-35 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.element-data-set .text-wrapper-36 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.element-data-set .frame-90 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.element-data-set .text-wrapper-37 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.element-data-set .frame-91 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 1px;
  position: relative;
}

.element-data-set .text-wrapper-38 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-bottom: -17px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.element-data-set .text-wrapper-39 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -75px;
  position: relative;
}

.element-data-set .frame-92 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.element-data-set .text-wrapper-40 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.element-data-set .text-wrapper-41 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.element-data-set .text-wrapper-42 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -51px;
  position: relative;
  white-space: nowrap;
}

.element-data-set .frame-93 {
  align-items: center;
  align-self: stretch;
  background-color: #005ea2;
  display: flex;
  gap: 10px;
  padding: 0px 212px 0px 40px;
  position: relative;
  width: 798px;
}

.element-data-set .frame-94 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.element-data-set .text-wrapper-43 {
  color: var(--full-white);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-data-set .frame-95 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.element-data-set .frame-96 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.element-data-set .text-wrapper-44 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.element-data-set .text-wrapper-45 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.element-data-set .frame-97 {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px 0px;
  position: relative;
}

.element-data-set .data-set-summary {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--primaryprimary-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 1920px;
}

.element-data-set .frame-98 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.element-data-set .frame-99 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 50px 40px 50px 212px;
  position: relative;
}

.element-data-set .frame-100 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.element-data-set .text-wrapper-46 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.element-data-set .text-wrapper-47 {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--h3-link-font-family);
  font-size: var(--h3-link-font-size);
  font-style: var(--h3-link-font-style);
  font-weight: var(--h3-link-font-weight);
  letter-spacing: var(--h3-link-letter-spacing);
  line-height: var(--h3-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.element-data-set .flexcontainer-i {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element-data-set .text-i {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.element-data-set .text-wrapper-48 {
  color: #3d4551;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.element-data-set .text-wrapper-49 {
  color: var(--basebase-darker);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-data-set .quisque-at-purus-sit {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.element-data-set .design-component-instance-node-5 {
  flex: 0 0 auto !important;
}

.element-data-set .frame-101 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--infoinfo-lighter);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 212px 50px 60px;
  position: relative;
  width: 798px;
}

.element-data-set .text-wrapper-50 {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.element-data-set .text-wrapper-51 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.element-data-set .text-wrapper-52 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.element-data-set .data-set-summary-2 {
  align-items: flex-start;
  background-color: #f7fafc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--primaryprimary-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 1920px;
}

.element-data-set .p-wrapper {
  align-items: center;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfe1e2;
  display: flex;
  gap: 20px;
  left: 0;
  padding: 10px 60px;
  position: absolute;
  top: 253px;
  width: 1920px;
}

.element-data-set .home-programs-center-2 {
  color: #005ea2;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-data-set .header-11 {
  background-color: #ffffff !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}

.element-data-set .header-12 {
  background-image: url(../../../static/img/rectangle-59.svg) !important;
  left: 384px !important;
}

.element-data-set .header-13 {
  left: -1px !important;
  width: 433px !important;
}

.element-data-set .header-14 {
  width: 65px !important;
}

.element-data-set .frame-102 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 54px;
  position: fixed;
  top: 41px;
}

.element-data-set .coverimage-3 {
  height: 45px;
  position: relative;
  width: 30px;
}

.element-data-set .text-wrapper-53 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
