.FAQ-filter {
  align-items: flex-start;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: #a9aeb1;
  border-radius: 10px 0px 0px 10px;
  flex-direction: column;
  position: relative;
}

.FAQ-filter .frame-301 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.FAQ-filter .icon-2 {
  height: 36px !important;
  position: relative !important;
  width: 36px !important;
}

.FAQ-filter .icon-116 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.FAQ-filter .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.FAQ-filter .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.FAQ-filter .scroll-instance {
  align-self: stretch !important;
  height: unset !important;
  position: relative !important;
}

.FAQ-filter .instance-node {
  height: 319px !important;
  top: 34px !important;
}

.FAQ-filter.glossary {
  display: inline-flex;
  padding: 20px 10px 20px 20px;
}

.FAQ-filter.FAQ {
  display: flex;
  padding: 20px;
  width: 574px;
}
