.scroll {
  background-color: #f0f0f0;
  border-radius: 7px;
  height: 1px;
  width: 15px;
}

.scroll .rectangle {
  background-color: #a9aeb1;
  border-radius: 5px;
  height: 1px;
  left: 2px;
  position: relative;
  width: 11px;
}
