.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.section-3 {
  color: var(--basebase-dark);
  letter-spacing: 0;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-family:
    Public Sans,
    Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.section-6 {
  color: var(--basebase-dark);
  letter-spacing: 0;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-family:
    Public Sans,
    Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.nav-link-12 {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 20px;
  display: inline-flex;
  position: relative;
}
.coverImg {
  height: 45px;
}
.logo-img {
  position: absolute !important;
  left: 40px;
  margin-top: -12px;
}

.div-wrapper .element-3 {
  background-color: #ffffff;
  border: 1px none;
  height: 7415px;
  position: relative;
  width: 100%;
}

.div-wrapper .about-data-sets {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 297px;
}

.div-wrapper .splash {
  align-items: center;
  background-color: var(--colors-primary-primary-darker);
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: center;
  padding: 0px 0px 0px 212px;
  position: relative;
  width: 100%;
}

.div-wrapper .content-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  padding: 50px 0px;
  position: relative;
}

.div-wrapper .frame-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.div-wrapper .about-data-sets-2 {
  align-self: stretch;
  color: #f0f0f0;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-15 {
  align-self: stretch;
  color: #f0f0f0;
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-16 {
  align-self: stretch;
  color: #f0f0f0;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 50px;
  position: relative;
  width: 404px;
}

.div-wrapper .frame-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 404px;
}

.div-wrapper .text-wrapper-17 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-18 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.div-wrapper .frame-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-19 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-18 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 1px;
  position: relative;
}

.div-wrapper .text-wrapper-20 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-bottom: -17px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.div-wrapper .text-wrapper-21 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -75px;
  position: relative;
}

.div-wrapper .frame-19 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-22 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.div-wrapper .text-wrapper-23 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-24 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -51px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-20 {
  align-items: center;
  align-self: stretch;
  background-color: var(--colors-primary-primary);
  display: flex;
  gap: 10px;
  padding: 0px 212px 0px 40px;
  position: relative;
  width: 798px;
}

.div-wrapper .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.div-wrapper .text-wrapper-25 {
  color: var(--full-white);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.div-wrapper .frame-23 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.div-wrapper .text-wrapper-26 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .text-wrapper-27 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-24 {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px 0px;
  position: relative;
}

.div-wrapper .data-set-summary {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--colors-secondary-secondary-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-25 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.div-wrapper .frame-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 50px 40px 50px 212px;
  position: relative;
}

.div-wrapper .frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-28 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-29 {
  align-self: stretch;
  color: var(--colors-primary-primary);
  font-family: var(--h3-link-font-family);
  font-size: var(--h3-link-font-size);
  font-style: var(--h3-link-font-style);
  font-weight: var(--h3-link-font-weight);
  letter-spacing: var(--h3-link-letter-spacing);
  line-height: var(--h3-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.div-wrapper .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-wrapper .text {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .span {
  color: #3d4551;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.div-wrapper .text-wrapper-30 {
  color: var(--basebase-darker);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .quisque-at-purus-sit {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.div-wrapper .button {
  align-items: center;
  background-color: var(--colors-primary-primary);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.div-wrapper .button-2 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-28 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--infoinfo-lighter);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 212px 50px 60px;
  position: relative;
  width: 798px;
}

.div-wrapper .text-wrapper-31 {
  align-self: stretch;
  color: var(--colors-primary-primary);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-32 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-33 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .footer {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 50px 0px 0px;
  position: relative;
  width: 100%;
}

.div-wrapper .return-to-top {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 64px;
  position: relative;
  width: 100%;
}

.div-wrapper .group-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.div-wrapper .group-7 {
  align-self: stretch;
  margin-right: -2px;
  position: relative;
  width: 163px;
}

.div-wrapper .overlap-group-4 {
  background-image: url(../../../static/img/rectangle-827.svg);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.div-wrapper .text-wrapper-34 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 21px;
  white-space: nowrap;
  width: 98px;
}

.div-wrapper .primary-links {
  align-items: flex-start;
  background-color: #f0f0f0;
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .footer-primary-link {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.div-wrapper .text-wrapper-35 {
  color: #1b1b1b;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .ACL {
  align-items: center;
  background-color: var(--grayscalegray-10);
  display: flex;
  gap: 414px;
  height: 154px;
  justify-content: flex-end;
  padding: 20px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .contact {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.div-wrapper .socials-4 {
  flex: 0 0 auto !important;
  position: relative !important;
}

.div-wrapper .agency-contact {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.div-wrapper .text-wrapper-36 {
  color: #1b1b1b;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .group-8 {
  height: 24px;
  position: relative;
  width: 246px;
}

.div-wrapper .frame-29 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  position: relative;
}

.div-wrapper .text-wrapper-37 {
  color: #1b1b1b;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .site-map {
  align-items: flex-start;
  background-color: var(--colors-primary-primary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 21px;
  padding: 64px 55px;
  position: relative;
  width: 100%;
}

.div-wrapper .column-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.div-wrapper .column {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.div-wrapper .discover-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.div-wrapper .discover {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-38 {
  color: var(--full-white);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  height: 18px;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.div-wrapper .footer-link {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.div-wrapper .footer-link-2 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .frame-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.div-wrapper .identifier-default {
  align-items: flex-start;
  background-color: var(--colors-primary-primary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-31 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.div-wrapper .frame-32 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.div-wrapper .frame-33 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.div-wrapper .text-wrapper-39 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.div-wrapper .text-wrapper-40 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.div-wrapper .looking-for-u-s {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-41 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.div-wrapper .text-wrapper-42 {
  font-weight: 700;
  text-decoration: underline;
}

.div-wrapper .home-programs-center-wrapper {
  align-items: center;
  background-color: #f0f0f0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase-lighter);
  display: flex;
  gap: 20px;
  left: 0;
  padding: 10px 60px;
  position: absolute;
  top: 253px;
  width: 100%;
}

.div-wrapper .home-programs-center {
  color: var(--colors-primary-primary);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .header-4 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.div-wrapper .top-banner-3 {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 9px 40px 9px 30px;
  position: relative;
  width: 100%;
}

.div-wrapper .banner-content-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-right: -7px;
  position: relative;
}

.div-wrapper .us-flag-small-4 {
  height: 11px;
  position: relative;
  width: 16px;
}

.div-wrapper .content-5 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1833px;
}

.div-wrapper .text-wrapper-43 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .here-s-how-you-know-3 {
  height: 16px;
  position: relative;
  width: 133px;
}

.div-wrapper .overlap-group-5 {
  height: 16px;
  position: relative;
  width: 131px;
}

.div-wrapper .text-wrapper-44 {
  color: var(--colors-primary-primary);
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .icon-38-instance {
  height: 16px !important;
  left: 115px !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.div-wrapper .top-menu-3 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--colors-primary-primary);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 4px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .right-side-menu-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.div-wrapper .nav-link-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 50px;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-34 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -2px;
  position: relative;
}

.div-wrapper .link-4 {
  color: #f0f0f0;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .logo-and-search-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 93px;
  padding: 19px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .logo-block {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  margin-bottom: -11.5px;
  margin-top: -11.5px;
  position: relative;
}

.div-wrapper .AGID-title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 0px;
  position: relative;
}

.div-wrapper .aging-independence {
  color: #1b1b1b;
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 619px;
}

.div-wrapper .spacer {
  flex: 1;
  flex-grow: 1;
  height: 106px;
  margin-bottom: -25.5px;
  margin-top: -25.5px;
  position: relative;
}

.div-wrapper .quick-search-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 433.03px;
}

.div-wrapper .text-wrapper-45 {
  color: var(--basebase);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 326px;
}

.div-wrapper .search-6-instance {
  align-self: stretch !important;
  height: 32px !important;
  margin-left: -0.5px !important;
  position: relative !important;
  width: 100% !important;
}

.div-wrapper .main-menu-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 68px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .line-4-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-top: -1px !important;
  position: relative !important;
  width: 100% !important;
}

.div-wrapper .main-menu-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 0px 60px;
  position: relative;
}

.div-wrapper .menu-4 {
  align-items: center;
  display: inline-flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.div-wrapper .nav-link-12 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-35 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.div-wrapper .section-6 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .group-9 {
  align-self: stretch;
  position: relative;
  width: 142px;
}

.div-wrapper .nav-link-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 68px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .icon-97 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.div-wrapper .group-10 {
  align-self: stretch;
  position: relative;
  width: 132px;
}

.div-wrapper .line-3-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  position: relative !important;
  width: 100% !important;
}
