.screen-4 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}
.section-3 {
  color: var(--basebase-dark);
  letter-spacing: 0;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-family:
    Public Sans,
    Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.section-6 {
  color: var(--basebase-dark);
  letter-spacing: 0;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-family:
    Public Sans,
    Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.coverImg {
  height: 45px;
}
.logo-img {
  position: absolute !important;
  left: 40px;
  margin-top: -12px;
}
.nav-link-12 {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 20px;
  display: inline-flex;
  position: relative;
}

.screen-4 .element-4 {
  background-color: #ffffff;
  border: 1px none;
  height: 2625px;
  position: relative;
  width: 100%;
}

.screen-4 .release-notes {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 297px;
  width: 100%;
}

.screen-4 .intro {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-4 .left {
  align-items: flex-start;
  background: var(--colors-primary-primary);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--colors-primary-primary);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0px 50px 60px;
  position: relative;
  width: 100%;
}

.screen-4 .div-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-4 .state-profiles {
  color: #fff;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .the-program-data-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 1125px;
}

.screen-4 .the-program-data {
  align-self: stretch;
  color: #fff;
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
}

.screen-4 .topic-navigator {
  align-items: flex-start;
  background-color: #f9f9f9;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 60px 0px 0px;
  position: relative;
  width: 100%;
}

.screen-4 .frame-36 {
  align-items: flex-end;
  align-self: stretch;
  background-color: #f0f0f0;
  border: 1px solid;
  border-color: var(--basebase-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 50px 60px;
  position: relative;
  width: 495px;
}

.screen-4 .release-notes-2 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-4 .text-wrapper-46 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.screen-4 .frame-37 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.screen-4 .date-input {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 184px;
}

.screen-4 .text-input {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.screen-4 .text-input-label {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-4 .input {
  align-self: stretch;
  background-image: url(../../../static/img/vector.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
  width: 100%;
}

.screen-4 .icon-instance-node-2 {
  flex: 0 0 auto !important;
  position: relative !important;
}

.screen-4 .topic-filter {
  align-items: center;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

.screen-4 .frame-38 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.screen-4 .list {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.screen-4 .topic-group {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 369px;
}

.screen-4 .topics {
  align-items: center;
  align-self: stretch;
  background-color: var(--colors-primary-primary-lighter);
  border: 1px solid;
  border-color: var(--colors-secondary-secondary-light);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 10px;
  position: relative;
  width: 100%;
}

.screen-4 .check-label-info {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.screen-4 .checkbox {
  height: 27px !important;
  position: relative !important;
  width: 27px !important;
}

.screen-4 .state-independent {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.screen-4 .check-label-info-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 10px;
  position: relative;
  width: 100%;
}

.screen-4 .state-independent-2 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.screen-4 .text-wrapper-47 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.screen-4 .frame-39 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 100px;
  position: relative;
}

.screen-4 .frame-40 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 10px;
  position: relative;
  width: 100%;
}

.screen-4 .types-and-sort {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen-4 .text-wrapper-48 {
  color: var(--basebase);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .view {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 283px;
}

.screen-4 .results-filter {
  align-items: flex-start;
  background-color: var(--full-white);
  border: 2px solid;
  border-color: var(--basebase);
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 5px 18px;
  position: relative;
}

.screen-4 .check-label {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.screen-4 .text-wrapper-49 {
  color: var(--basebase);
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .icon-5 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.screen-4 .check-label-wrapper {
  align-items: flex-start;
  background-color: var(--colors-primary-primary);
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 5px 18px;
  position: relative;
}

.screen-4 .text-wrapper-50 {
  color: var(--full-white);
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .sort-by {
  align-items: flex-start;
  background-color: var(--full-white);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 0px 10px;
  position: relative;
}

.screen-4 .text-wrapper-51 {
  color: var(--basebase);
  font-family: var(--cell-category-font-family);
  font-size: var(--cell-category-font-size);
  font-style: var(--cell-category-font-style);
  font-weight: var(--cell-category-font-weight);
  letter-spacing: var(--cell-category-letter-spacing);
  line-height: var(--cell-category-line-height);
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .frame-41 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-left: 10px;
}
.frame-41 .div-4 {
  width: 1200px;
}
.screen-4 .div-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.screen-4 .topic-card-grid {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 32%;
}

.screen-4 .frame-42 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px 20px 20px;
  position: relative;
  width: 435px;
}

.screen-4 .frame-43 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.screen-4 .text-wrapper-52 {
  color: var(--basebase);
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .text-wrapper-53 {
  color: var(--colors-primary-primary);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 375px;
}

.screen-4 .text-wrapper-54 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  text-wrap: balance;
}

.screen-4 .frame-44 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.screen-4 .text-wrapper-55 {
  color: var(--colors-primary-primary);
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .text-wrapper-56 {
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .load-more {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.screen-4 .text-wrapper-57 {
  color: var(--colors-primary-primary);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .icon-141-instance {
  height: 50px !important;
  position: relative !important;
  width: 50px !important;
}

.screen-4 .footer-2 {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-4 .return-to-top-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 64px;
  position: relative;
  width: 100%;
}

.screen-4 .return-to-top-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--content-bg);
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.screen-4 .group-11 {
  align-self: stretch;
  margin-right: -2px;
  position: relative;
  width: 163px;
}

.screen-4 .overlap-group-6 {
  background-image: url(../../../static/img/rectangle-827.svg);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.screen-4 .text-wrapper-58 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 21px;
  white-space: nowrap;
  width: 98px;
}

.screen-4 .primary-links-2 {
  align-items: flex-start;
  background-color: #f0f0f0;
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 100%;
}

.screen-4 .footer-primary-link-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.screen-4 .text-wrapper-59 {
  color: #1b1b1b;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .contact-wrapper {
  align-items: center;
  background-color: var(--grayscalegray-10);
  display: flex;
  gap: 414px;
  height: 154px;
  justify-content: flex-end;
  padding: 20px 60px;
  position: relative;
  width: 100%;
}

.screen-4 .contact-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.screen-4 .agency-contact-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.screen-4 .text-wrapper-60 {
  color: #1b1b1b;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .group-12 {
  height: 24px;
  position: relative;
  width: 246px;
}

.screen-4 .frame-45 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  position: relative;
}

.screen-4 .text-wrapper-61 {
  color: #1b1b1b;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .site-map-2 {
  align-items: flex-start;
  background-color: var(--colors-primary-primary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 21px;
  padding: 64px 55px;
  position: relative;
  width: 100%;
}

.screen-4 .frame-46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.screen-4 .column-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.screen-4 .column-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.screen-4 .discover-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.screen-4 .text-wrapper-62 {
  color: var(--full-white);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  height: 18px;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.screen-4 .footer-link-wrapper {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.screen-4 .footer-link-3 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-4 .frame-47 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.screen-4 .identifier-default-2 {
  align-items: flex-start;
  background-color: var(--colors-primary-primary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 100%;
}

.screen-4 .frame-48 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 100%;
}

.screen-4 .text-wrapper-63 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.screen-4 .text-wrapper-64 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.screen-4 .looking-for-u-s-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.screen-4 .text-wrapper-65 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.screen-4 .text-wrapper-66 {
  font-weight: 700;
  text-decoration: underline;
}

.screen-4 .p-wrapper {
  align-items: center;
  background-color: #f0f0f0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase-lighter);
  display: flex;
  gap: 20px;
  left: 0;
  padding: 10px 60px;
  position: absolute;
  top: 253px;
  width: 100%;
}

.screen-4 .home-programs-center-2 {
  color: var(--colors-primary-primary);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .header-5 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.screen-4 .top-banner-4 {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 9px 40px 9px 30px;
  position: relative;
  width: 100%;
}

.screen-4 .banner-content-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-right: -7px;
  position: relative;
}

.screen-4 .us-flag-small-5 {
  height: 11px;
  position: relative;
  width: 16px;
}

.screen-4 .content-6 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1833px;
}

.screen-4 .text-wrapper-67 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .here-s-how-you-know-4 {
  height: 16px;
  position: relative;
  width: 133px;
}

.screen-4 .overlap-group-7 {
  height: 16px;
  position: relative;
  width: 131px;
}

.screen-4 .text-wrapper-68 {
  color: var(--colors-primary-primary);
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.screen-4 .icon-6 {
  height: 16px !important;
  left: 115px !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.screen-4 .top-menu-4 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--colors-primary-primary);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 4px 60px;
  position: relative;
  width: 100%;
}

.screen-4 .nav-link-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 50px;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-4 .frame-49 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -2px;
  position: relative;
}

.screen-4 .link-5 {
  color: #f0f0f0;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .logo-and-search-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 93px;
  padding: 19px 60px;
  position: relative;
  width: 100%;
}

.screen-4 .logo-block-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  margin-bottom: -11.5px;
  margin-top: -11.5px;
  position: relative;
}

.screen-4 .AGID-title-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 0px;
  position: relative;
}

.screen-4 .aging-independence-2 {
  color: #1b1b1b;
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 619px;
}

.screen-4 .spacer-2 {
  flex: 1;
  flex-grow: 1;
  height: 106px;
  margin-bottom: -25.5px;
  margin-top: -25.5px;
  position: relative;
}

.screen-4 .quick-search-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 433.03px;
}

.screen-4 .text-wrapper-69 {
  color: var(--basebase);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 326px;
}

.screen-4 .search-3-instance {
  align-self: stretch !important;
  height: 32px !important;
  margin-left: -0.5px !important;
  position: relative !important;
  width: 100% !important;
}

.screen-4 .main-menu-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 68px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.screen-4 .line-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-top: -1px !important;
  position: relative !important;
  width: 100% !important;
}

.screen-4 .main-menu-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 0px 60px;
  position: relative;
}

.screen-4 .menu-5 {
  align-items: center;
  display: inline-flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.screen-4 .nav-link-15 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-4 .frame-50 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.screen-4 .section-7 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-4 .group-13 {
  align-self: stretch;
  position: relative;
  width: 142px;
}

.screen-4 .nav-link-16 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 68px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-4 .icon-1 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.screen-4 .group-14 {
  align-self: stretch;
  position: relative;
  width: 132px;
}

.screen-4 .line-5-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  position: relative !important;
  width: 100% !important;
}
