.element-release-notes {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-release-notes .div-13 {
  border: 1px none;
  height: 2676px;
  position: relative;
  width: 1920px;
}

.element-release-notes .release-notes-3 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(151, 212, 234) 52.6%, rgb(0, 94, 162) 98.62%);
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 608px;
}

.element-release-notes .design-component-instance-node-6 {
  flex: 0 0 auto !important;
}

.element-release-notes .left-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 297px;
}

.element-release-notes .left-2 {
  align-items: flex-start;
  background-color: #005ea2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #005ea2;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0px 50px 60px;
  position: relative;
  width: 1920px;
}

.element-release-notes .h-1-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.element-release-notes .text-wrapper-54 {
  color: #ffffff;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-release-notes .the-program-data-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 1125px;
}

.element-release-notes .the-program-data {
  align-self: stretch;
  color: #ffffff;
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
}

.element-release-notes .frame-103 {
  align-items: center;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfe1e2;
  display: flex;
  gap: 20px;
  left: 0;
  padding: 10px 60px;
  position: absolute;
  top: 253px;
  width: 1920px;
}

.element-release-notes .home-programs-center-3 {
  color: #005ea2;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-release-notes .header-15 {
  background-color: #ffffff !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}

.element-release-notes .header-16 {
  background-image: url(../../../static/img/rectangle-59.svg) !important;
  left: 384px !important;
}

.element-release-notes .header-17 {
  left: -1px !important;
  width: 433px !important;
}

.element-release-notes .header-18 {
  width: 65px !important;
}

.element-release-notes .frame-104 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 54px;
  position: fixed;
  top: 41px;
}

.element-release-notes .coverimage-4 {
  height: 45px;
  position: relative;
  width: 30px;
}

.element-release-notes .text-wrapper-55 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
