.topics {
  display: flex;
  position: relative;
}

.topics .check-label-info-2 {
  display: flex;
  gap: 10px;
  position: relative;
}

.topics .instance-node-6 {
  height: 27px !important;
  position: relative !important;
  width: 27px !important;
}

.topics .state-independent {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.topics .instance-node-7 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.topics .sub-topic-2 {
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics .icon-9 {
  height: 30px !important;
  position: relative !important;
  width: 30px !important;
}

.topics .state-independent-2 {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.topics .sub-subtopic {
  flex: 1;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .sub-subtopic-2 {
  flex: 1;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .check-label-info-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.topics .frame-64 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.topics .sub-topic-3 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics .div-8 {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .frame-65 {
  display: flex;
  gap: 10px;
  position: relative;
}

.topics .text-wrapper-18 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .sub-subtopic-3 {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .brief-description-of {
  align-self: stretch;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18px;
  position: relative;
}

.topics .check-label-info-4 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.topics .sub-topic-4 {
  color: var(--accent-warmaccent-warm);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics .sub-subtopic-4 {
  color: var(--accent-warmaccent-warm);
  flex: 1;
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .services-2 {
  color: #1b1b1b;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics .icon-10 {
  height: 33px !important;
  position: relative !important;
  width: 33px !important;
}

.topics .single-entry-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.topics .unavailable-with {
  color: var(--basebase);
  flex: 1;
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  font-style: var(--h6-font-style);
  font-weight: var(--h6-font-weight);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .topic-list-item {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 10px 20px;
  position: relative;
  width: 369px;
}

.topics .single-entry-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.topics .ACL-administration {
  color: var(--basebase-darker);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topics .topic-list-item-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  width: 367px;
}

.topics .topic-list-item-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-lighter);
  border: 1px solid;
  border-color: var(--primaryprimary-light);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.topics .topic-list-item-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.topics .ACL-administration-2 {
  color: var(--basebase-darker);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.topics .services-3 {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics .check-label-info-5 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.topics .sub-topic-5 {
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.topics.level-data-set {
  background-color: var(--full-white);
  width: 369px;
}

.topics.level-state-radio {
  align-items: center;
  padding: 10px 10px 10px 20px;
  width: 369px;
}

.topics.level-release-note {
  align-items: center;
  padding: 15px 10px;
  width: 369px;
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set {
  border-color: var(--basebase);
  flex-direction: column;
  gap: 10px;
}

.topics.level-topic {
  background-color: var(--full-white);
}

.topics.level-sub-topic-no-info {
  padding: 15px 10px;
}

.topics.level-sub-topic {
  padding: 15px 10px;
}

.topics.info-true {
  flex-direction: column;
}

.topics.no {
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.topics.selected-true {
  border: 1px solid;
}

.topics.level-sub-subtopic-no-info {
  align-items: center;
  padding: 10px 10px 10px 20px;
  width: 369px;
}

.topics.selected-true.level-state {
  background-color: var(--primaryprimary-lighter);
}

.topics.level-sub-subtopic-no-info.selected-true {
  background-color: var(--primaryprimary-lighter);
}

.topics.level-suv-subtopic.info-false {
  padding: 10px 10px 10px 20px;
}

.topics.level-state-radio.selected-true {
  background-color: var(--primaryprimary-lighter);
}

.topics.selected-false.level-release-note {
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--basebase);
}

.topics.selected-true.level-suv-subtopic {
  background-color: var(--primaryprimary-lighter);
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.level-suv-subtopic {
  align-items: flex-start;
}

.topics.no.level-suv-subtopic {
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
}

.topics.level-geo-type.expanded-0-false {
  align-items: center;
  background-color: var(--full-white);
  border: 1px solid;
  width: 369px;
}

.topics.info-false.level-sub-topic-no-info {
  gap: 10px;
}

.topics.selected-false.level-sub-topic-no-info {
  align-items: flex-start;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--basebase);
  flex-direction: column;
  justify-content: center;
}

.topics.expanded-0-true.level-sub-topic-no-info {
  gap: 10px;
}

.topics.level-sub-subtopic-no-info.selected-false {
  background-color: #f0f0f080;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.topics.expanded-0-false.level-data-set {
  align-items: center;
  border: 1px solid;
}

.topics.yes.selected-true {
  border-color: var(--primaryprimary-light);
}

.topics.expanded-0-true.level-topic {
  align-items: flex-start;
  flex-direction: column;
}

.topics.selected-false.level-state {
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.topics.info-false.level-sub-topic {
  gap: 10px;
}

.topics.expanded-0-true.level-data-set {
  align-items: flex-start;
  flex-direction: column;
}

.topics.selected-true.level-sub-topic {
  background-color: var(--primaryprimary-lighter);
}

.topics.selected-true.level-sub-topic-no-info {
  align-items: center;
  background-color: var(--primaryprimary-lighter);
  width: 369px;
}

.topics.no.level-state {
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
}

.topics.yes.level-state {
  align-items: center;
  width: 369px;
}

.topics.selected-true.level-release-note {
  background-color: var(--primaryprimary-lighter);
}

.topics.selected-false.level-sub-topic {
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.topics.expanded-0-false.info-false {
  gap: 10px;
}

.topics.no.level-sub-topic {
  border-color: var(--basebase);
}

.topics.level-suv-subtopic.info-true {
  align-items: flex-start;
}

.topics.expanded-0-false.level-topic {
  align-items: center;
  border: 1px solid;
  width: 369px;
}

.topics.selected-false.level-state-radio {
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.level-state {
  align-items: flex-start;
}

.topics.info-true.level-sub-topic {
  align-items: flex-start;
  justify-content: center;
}

.topics.selected-false.level-suv-subtopic {
  background-color: #f0f0f080;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.topics.level-geo-type.expanded-0-true {
  align-items: flex-start;
  flex-direction: column;
}

.topics.level-state.info-false {
  padding: 10px 10px 10px 20px;
}

.topics.no.level-state-radio.selected-true {
  border-color: var(--primaryprimary-light);
}

.topics.no.selected-true.level-release-note {
  border-color: var(--primaryprimary-light);
}

.topics.no.selected-true.level-data-set {
  border-color: var(--primaryprimary-light);
}

.topics.no.selected-false.level-suv-subtopic {
  border-color: #dfe1e2;
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.expanded-0-false.level-sub-topic {
  align-items: flex-start;
}

.topics.no.selected-true.level-sub-topic-no-info {
  border-color: var(--primaryprimary-light);
}

.topics.yes.level-suv-subtopic.info-true {
  gap: 15px;
  justify-content: center;
  padding: 10px 10px 15px 20px;
}

.topics.expanded-0-true.info-false.level-sub-topic {
  align-items: center;
  width: 369px;
}

.topics.yes.selected-false.level-suv-subtopic {
  border-color: #dfe1e2;
}

.topics.level-sub-subtopic-no-info.selected-false.no {
  border-color: #dfe1e2;
}

.topics.level-sub-subtopic-no-info.selected-false.yes {
  border-color: #dfe1e2;
}

.topics.level-geo-type.selected-true.expanded-0-true {
  background-color: var(--primaryprimary-lighter);
}

.topics.no.selected-false.level-state-radio {
  border-color: #dfe1e2;
}

.topics.yes.expanded-0-false.level-topic {
  padding: 10px;
}

.topics.yes.expanded-0-false.level-data-set {
  padding: 10px;
}

.topics.expanded-0-false.info-false.level-data-set {
  padding: 10px;
}

.topics.no.selected-true.level-suv-subtopic {
  border-color: var(--primaryprimary-light);
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.expanded-0-false.level-topic {
  padding: 10px;
}

.topics.yes.info-true.level-sub-topic {
  gap: 20px;
}

.topics.level-sub-subtopic-no-info.selected-true.no {
  border-color: var(--primaryprimary-light);
}

.topics.yes.selected-false.level-state-radio {
  border-color: #dfe1e2;
}

.topics.no.selected-true.level-state {
  border-color: var(--primaryprimary-light);
}

.topics.no.selected-true.level-topic {
  border-color: var(--primaryprimary-light);
}

.topics.yes.selected-false.level-state {
  border-color: #dfe1e2;
}

.topics.no.level-data-set.info-true {
  padding: 10px 10px 10px 20px;
}

.topics.level-geo-type.expanded-0-false.unavailable-with-selected-data-set-unavailable-with-selected-data-set {
  padding: 10px;
}

.topics.level-geo-type.yes.expanded-0-false {
  padding: 10px;
}

.topics.yes.level-suv-subtopic.info-false {
  align-items: center;
  width: 369px;
}

.topics.level-geo-type.no.info-true {
  padding: 10px 10px 10px 20px;
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.expanded-0-false.level-data-set {
  padding: 10px;
}

.topics.no.selected-false.level-state {
  border-color: #dfe1e2;
}

.topics.expanded-0-false.info-false.level-topic {
  padding: 10px;
}

.topics.no.info-true.level-topic {
  padding: 10px 10px 10px 20px;
}

.topics.level-geo-type.expanded-0-false.info-false {
  padding: 10px;
}

.topics.no.expanded-0-false.level-sub-topic {
  align-items: flex-start;
}

.topics.yes.info-false.level-sub-topic {
  align-items: center;
  width: 369px;
}

.topics.level-geo-type.no.selected-true {
  border-color: var(--primaryprimary-light);
}

.topics.level-geo-type.no.selected-false.expanded-0-false {
  border-color: #1b1b1b;
}

.topics.yes.selected-true.info-false.expanded-0-false {
  align-items: center;
  width: 369px;
}

.topics.selected-false.expanded-0-false.info-false.level-sub-topic {
  border-color: var(--basebase);
}

.topics.yes.selected-false.expanded-0-false.level-topic {
  border-color: #1b1b1b;
}

.topics.yes.selected-false.expanded-0-false.level-data-set {
  border-color: #1b1b1b;
}

.topics.yes.selected-false.expanded-0-true.level-sub-topic {
  border-color: #dfe1e2;
}

.topics.level-geo-type.yes.selected-false.expanded-0-false {
  border-color: #1b1b1b;
}

.topics.no.selected-false.expanded-0-false.level-data-set {
  border-color: #1b1b1b;
}

.topics.no.selected-false.expanded-0-false.level-topic {
  border-color: #1b1b1b;
}

.topics.expanded-0-false.level-sub-topic.yes.info-true.selected-false {
  border-color: var(--basebase-dark);
}

.topics.level-state-radio .check-label-info-2 {
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
}

.topics.level-sub-topic-no-info .check-label-info-2 {
  align-items: center;
}

.topics.level-sub-topic .check-label-info-2 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.topics.level-release-note .check-label-info-2 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
}

.topics.level-suv-subtopic .check-label-info-2 {
  align-items: flex-start;
}

.topics.level-state .check-label-info-2 {
  align-items: flex-start;
}

.topics.level-sub-subtopic-no-info .check-label-info-2 {
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
}

.topics.no.level-suv-subtopic .check-label-info-2 {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.topics.selected-false.level-sub-topic-no-info .check-label-info-2 {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.topics.yes.level-suv-subtopic .check-label-info-2 {
  flex: 1;
  flex-grow: 1;
}

.topics.selected-true.level-sub-topic-no-info .check-label-info-2 {
  flex: 1;
  flex-grow: 1;
}

.topics.no.level-state .check-label-info-2 {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.topics.yes.level-state .check-label-info-2 {
  flex: 1;
  flex-grow: 1;
}

.topics.selected-true .sub-topic-2 {
  color: #1b1b1b;
}

.topics.no.selected-false .sub-topic-2 {
  color: var(--accent-warmaccent-warm);
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.selected-false .sub-topic-2 {
  color: var(--basebase-dark);
}

.topics.yes.selected-false .sub-topic-2 {
  color: var(--basebase-dark);
}

.topics.selected-true .sub-subtopic {
  color: #1b1b1b;
}

.topics.selected-false .sub-subtopic {
  color: var(--basebase-dark);
}

.topics.selected-true .sub-subtopic-2 {
  color: #1b1b1b;
}

.topics.no.selected-false .sub-subtopic-2 {
  color: var(--accent-warmaccent-warm);
}

.topics.unavailable-with-selected-data-set-unavailable-with-selected-data-set.selected-false .sub-subtopic-2 {
  color: var(--basebase-dark);
}

.topics.yes.selected-false .sub-subtopic-2 {
  color: var(--basebase-dark);
}

.topics.expanded-0-false .check-label-info-3 {
  gap: 10px;
}

.topics.selected-true .check-label-info-3 {
  gap: 10px;
}

.topics.level-sub-topic .check-label-info-3 {
  align-items: center;
}

.topics.level-suv-subtopic .check-label-info-3 {
  align-items: flex-start;
}

.topics.selected-false.expanded-0-true .check-label-info-3 {
  justify-content: space-between;
}

.topics.selected-true .frame-64 {
  align-items: flex-start;
}

.topics.selected-false .frame-64 {
  align-items: center;
}

.topics.selected-true .frame-65 {
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
}

.topics.selected-false .frame-65 {
  align-items: center;
  width: 272px;
}

.topics.selected-true .brief-description-of {
  color: var(--basebase-darker);
}

.topics.selected-false .brief-description-of {
  color: var(--basebase-dark);
}

.topics.expanded-0-false .check-label-info-4 {
  gap: 10px;
}

.topics.level-data-set .check-label-info-4 {
  align-items: center;
}

.topics.level-topic .check-label-info-4 {
  align-items: center;
}

.topics.level-sub-topic .check-label-info-4 {
  align-items: center;
}

.topics.level-geo-type .check-label-info-4 {
  align-items: center;
}

.topics.info-false .check-label-info-4 {
  border: 1px solid;
  border-color: #000000;
  justify-content: space-between;
  padding: 10px;
}

.topics.no.level-release-note .check-label-info-4 {
  align-items: flex-start;
}

.topics.no.level-state-radio .check-label-info-4 {
  align-items: flex-start;
}

.topics.level-sub-subtopic-no-info.no .check-label-info-4 {
  align-items: flex-start;
}

.topics.no.level-suv-subtopic .check-label-info-4 {
  align-items: flex-start;
}

.topics.no.level-sub-topic-no-info .check-label-info-4 {
  align-items: flex-start;
}

.topics.no.level-state .check-label-info-4 {
  align-items: flex-start;
}

.topics.level-data-set .services-2 {
  width: 316px;
}

.topics.level-state-radio .services-2 {
  width: fit-content;
}

.topics.level-topic .services-2 {
  width: fit-content;
}

.topics.level-sub-topic-no-info .services-2 {
  width: fit-content;
}

.topics.level-sub-topic .services-2 {
  width: fit-content;
}

.topics.level-geo-type .services-2 {
  width: fit-content;
}

.topics.level-release-note .services-2 {
  width: fit-content;
}

.topics.level-suv-subtopic .services-2 {
  width: fit-content;
}

.topics.level-state .services-2 {
  width: fit-content;
}

.topics.level-sub-subtopic-no-info .services-2 {
  width: fit-content;
}

.topics.expanded-0-false .single-entry-2 {
  gap: 10px;
}

.topics.level-data-set .single-entry-2 {
  align-self: stretch;
  width: 100%;
}

.topics.level-topic .single-entry-2 {
  width: 369px;
}

.topics.level-sub-topic .single-entry-2 {
  align-self: stretch;
  width: 100%;
}

.topics.level-geo-type .single-entry-2 {
  align-self: stretch;
  width: 100%;
}

.topics.info-false .single-entry-2 {
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0px 0px 10px 10px;
  border-right-style: solid;
  border-right-width: 1px;
  box-shadow: var(--card-shadow);
  flex-direction: column;
  padding: 10px 1px;
}

.topics.level-suv-subtopic .single-entry-2 {
  align-self: stretch;
  width: 100%;
}

.topics.level-state .single-entry-2 {
  align-self: stretch;
  width: 100%;
}

.topics.level-data-set .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-state-radio .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-topic .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-sub-topic-no-info .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-sub-topic .check-label-info-5 {
  align-items: center;
}

.topics.level-geo-type .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-release-note .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-suv-subtopic .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-state .check-label-info-5 {
  align-items: flex-start;
}

.topics.level-sub-subtopic-no-info .check-label-info-5 {
  align-items: flex-start;
}

.topics.selected-true .sub-topic-5 {
  color: #1b1b1b;
}

.topics.selected-false .sub-topic-5 {
  color: var(--basebase-dark);
}
