.topic {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: #a9aeb1;
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.topic .div-3 {
  color: var(--basebase-dark);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic .icon-5 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.topic .frame-13 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}
