.element-contact {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-contact .div-11 {
  border: 1px none;
  height: 2448px;
  position: relative;
  width: 1920px;
}

.element-contact .contact-2 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 297px;
  width: 1920px;
}

.element-contact .design-component-instance-node-4 {
  flex: 0 0 auto !important;
}

.element-contact .intro-3 {
  background: unset !important;
  background-color: #005ea2 !important;
}

.element-contact .intro-4 {
  color: #ffffff !important;
}

.element-contact .section {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 1920px;
}

.element-contact .frame-84 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 1100px;
  padding: 50px 91px 50px 212px;
  position: relative;
  width: 1273px;
}

.element-contact .text-wrapper-29 {
  align-self: stretch;
  color: #000000;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.element-contact .text-wrapper-30 {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--h3-link-font-family);
  font-size: var(--h3-link-font-size);
  font-style: var(--h3-link-font-style);
  font-weight: var(--h3-link-font-weight);
  letter-spacing: var(--h3-link-letter-spacing);
  line-height: var(--h3-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.element-contact .text-wrapper-31 {
  align-self: stretch;
  color: #000000;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.element-contact .frame-797 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  width: unset !important;
}

.element-contact .home-contact-wrapper {
  align-items: center;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfe1e2;
  display: flex;
  gap: 20px;
  left: 0;
  padding: 10px 60px;
  position: absolute;
  top: 253px;
  width: 1920px;
}

.element-contact .home-contact {
  color: #005ea2;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-contact .header-7 {
  background-color: #ffffff !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}

.element-contact .header-8 {
  background-image: url(../../../static/img/rectangle-59-10.svg) !important;
  left: 384px !important;
}

.element-contact .header-9 {
  width: 433px !important;
}

.element-contact .header-10 {
  width: 65px !important;
}

.element-contact .frame-85 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 54px;
  position: fixed;
  top: 41px;
}

.element-contact .coverimage-2 {
  height: 45px;
  position: relative;
  width: 30px;
}

.element-contact .text-wrapper-32 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
