.footer-primary-link {
  align-items: center;
  display: inline-flex;
  padding: 16px;
  position: relative;
}

.footer-primary-link .documentation {
  color: #000000;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer-primary-link .icon-61 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.footer-primary-link .documentation-2 {
  color: #000000;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer-primary-link.dropdown-true {
  gap: 8px;
}
