.topic-filters {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border: 1px solid;
  border-color: #a9aeb1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 850px;
  padding: 50px 20px 50px 60px;
  position: relative;
  width: 495px;
}

.topic-filters .search-for-content {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.topic-filters .use-the-filters {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.topic-filters .frame-73 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.topic-filters .date-input-4 {
  width: 184px !important;
}

.topic-filters .date-input-5 {
  color: var(--basebase-darker) !important;
}

.topic-filters .date-input-6 {
  background-image: url(../../../static/img/vector-13.svg) !important;
}

.topic-filters .vector-9 {
  align-self: stretch !important;
  height: 40px !important;
  position: relative !important;
  width: 100% !important;
}
