.footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.footer .return-to-top {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 64px;
  position: relative;
  width: 1920px;
}

.footer .group-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.footer .group {
  align-self: stretch;
  margin-right: -2px;
  position: relative;
  width: 163px;
}

.footer .overlap-group {
  background-image: url(../../../static/img/rectangle-827.svg);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.footer .return-to-top-2 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 21px;
  white-space: nowrap;
  width: 98px;
}

.footer .primary-links {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-color: #a9aeb1;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 1920px;
}

.footer .footer-primary-link-instance {
  flex: 0 0 auto !important;
}

.footer .design-component-instance-node {
  color: #1b1b1b !important;
}

.footer .ACL {
  align-items: center;
  background-color: var(--grayscalegray-10);
  display: flex;
  gap: 414px;
  height: 154px;
  justify-content: flex-end;
  padding: 20px 60px;
  position: relative;
  width: 1920px;
}

.footer .contact {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.footer .socials {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.footer .icon-wrapper {
  align-items: flex-start;
  background-color: #0000001a;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 4px;
  position: relative;
}

.footer .agency-contact {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.footer .contact-us {
  color: #1b1b1b;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .frame-wrapper {
  height: 24px;
  position: relative;
  width: 246px;
}

.footer .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  position: relative;
}

.footer .text-wrapper-2 {
  color: #1b1b1b;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .site-map {
  align-items: flex-start;
  background-color: #1a4480;
  display: flex;
  flex: 0 0 auto;
  gap: 21px;
  padding: 64px 55px;
  position: relative;
  width: 1920px;
}

.footer .column-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.footer .column {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.footer .discover-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.footer .discover {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.footer .text-wrapper-3 {
  color: var(--full-white);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  height: 18px;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.footer .footer-link {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.footer .footer-link-2 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.footer .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.footer .identifier-default {
  align-items: flex-start;
  background-color: #162e51;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 1920px;
}

.footer .frame-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.footer .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.footer .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.footer .text-wrapper-4 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.footer .text-wrapper-5 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.footer .looking-for-u-s {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.footer .span {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer .text-wrapper-6 {
  font-weight: 700;
  text-decoration: underline;
}

.footer .icon-3 {
  height: 40px !important;
  position: relative !important;
  width: 40px !important;
}
