.search .overlap {
  position: relative;
}

.search .img {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 395px;
}

.search .overlap-group-wrapper {
  height: 32px;
  left: 394px;
  position: absolute;
  top: 0;
  width: 88px;
}

.search .search-wrapper {
  background-image: url(../../../static/img/rectangle-59-6.svg);
  background-size: 100% 100%;
  height: 32px;
  position: relative;
  width: 86px;
}

.search .text-wrapper-7 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.search .group-2 {
  position: absolute;
  top: 0;
}

.search .overlap-group-3 {
  background-image: url(../../../static/img/rectangle-59-7.svg);
  background-size: 100% 100%;
  height: 48px;
  position: relative;
  width: 138px;
}

.search .text-wrapper-8 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.search .icon-151 {
  height: 24px !important;
  left: 12px !important;
  position: absolute !important;
  top: 4px !important;
  width: 24px !important;
}

.search.size-big {
  height: 48px;
  width: 480px;
}

.search.size-default {
  height: 32px;
  width: 479px;
}

.search.size-small {
  height: 32px;
  width: 340px;
}

.search.size-big .overlap {
  height: 48px;
  width: 482px;
}

.search.size-default .overlap {
  height: 32px;
  width: 482px;
}

.search.size-small .overlap {
  height: 32px;
}

.search.size-big .group-2 {
  height: 48px;
  left: 342px;
  width: 140px;
}

.search.size-default .group-2 {
  height: 48px;
  left: 342px;
  width: 140px;
}

.search.size-small .group-2 {
  background-image: url(../../../static/img/rectangle-59-5.svg);
  background-size: 100% 100%;
  height: 32px;
  left: 290px;
  width: 49px;
}
