.data-filter-headings {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 340px;
}

.data-filter-headings .data-explorer {
  align-self: stretch;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.data-filter-headings .use-the-filters-to {
  align-self: stretch;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.data-filter-headings .two {
  color: var(--basebase-dark);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
}

.data-filter-headings .one {
  color: #1b1b1b;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
}

.data-filter-headings .level-two {
  color: var(--basebase-dark);
}

.data-filter-headings .level-one {
  color: var(--basebase-darker);
}
